*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-bg-color: AliceBlue;
  --dark-bg-color: MidnightBlue;
  --light-text-color: AliceBlue;
  --dark-text-color: MidnightBlue;
  --accent-color: #7e78d2;
  --light-accent-color: #beffc7;
  --focus-color: #ffbc42;
  --pending-color: LightSlateGray;
}
body {
  background: var(--light-bg-color);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background: var(--dark-bg-color);
  color: var(--light-text-color);
  margin: 0 auto;
  max-width: 800px;
  padding: 16px;
}

/* Nav */

nav {
  text-align: center;
}

#content {
  min-height: 100vh;
  padding: 0 16px;
}

h1 {
  font-size: 2rem;
  margin: 40px 0 16px 0;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-inline: 5px;
  padding: 0.5rem 1rem;
}

button:focus {
  outline: 2px solid var(--focus-color);
}

.tab-button {
  background-color: var(--accent-color);
  color: var(--light-text-color);
}

.tab-button.pending {
  background-color: var(--pending-color);
}

.tab-button.inactive {
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
}

/* About */

#about-form {
  display: flex;
  flex-direction: column;
}

.username {
  margin-bottom: 20px;
}

.form-section {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.form-section label {
  margin-right: 20px;
  width: 100px;
}

.form-section input {
  border-radius: 5px;
  height: 2rem;
  padding-left: 5px;
  width: 200px;
}

input:focus {
  outline: 2px solid var(--focus-color);
}

#user-name {
  color: var(--light-accent-color);
}

#user-message {
  color: var(--focus-color);
  margin-bottom: 20px;
  min-height: 1.25rem;
}

.user-name-submit {
  display: block;
  text-align: center;
  width: 100px;
}

/* Pokemon */

#fetch-pokemon {
  margin-bottom: 20px;
}
